[color]
	ui = auto
[user]
	name = Preetam D'Souza
	email = preetamjdsouza@gmail.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
